#footer {
    background-image: url(../../public/texture-16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: navy;
}