.section {
    background-image: url(../../public/shutterstock_1107563717.jpg);
    background-size: cover;
    height: 1000px;
    color: whitesmoke;
    padding: 10px;
}

.card {
    font-weight: bolder;
    width: 27rem;
    color: black;
    margin: 5px;
    height: 350px;
    
}

.image {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 6px;
}

.portfolio {
    display: flex;
    justify-content: space-around;
}

.about{
    width: 60rem;
    height: 735px;
}

.about-align {
    display: flex;
    justify-content: center;
}

.resume-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-link {
    color: white;
}