.section {
    background-image: url(../../public/shutterstock_1107563717.jpg);
    background-size: cover;
    height: 1500px;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.card {
    font-weight: bolder;
    width: 27rem;
    color: black;
    margin: 5px;
    height: 350px;
    
}

.image {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 6px;
}